
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');




* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    
}

html {
    background-color: #f0f0f0;
}


/* Navbar */


@media screen and (max-width: 800px) {
    .lower-container.mobile {
        display: none;
    }

    .hero-wrapper.mobile {
        grid-template-rows: 50px 1fr;
    }

    .signup-button.mobile {
        display: none;
    }

    .mobile-button.mobile {
        display:block;
    }

    .open-close.mobile {
        display: block;
    }

}


.open-close {
    display: none;
}

.mobile-nav-menu {
    display: block;
    height: 100vh;
    z-index: 100;
    background-color: #f0f0f0;
    position: fixed;
    right: 0;
    left: 0;
    top: 60px;
}

.mobile-menu-container {
    display: grid;
    grid-template-columns: 5vw 1fr 10vw;
    grid-template-rows: 20vw 1fr 10vw;
    background-color: #f0f0f0;
    
}

.mobile-menu-container ul {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
    list-style: none;
    
}
.mobile-menu-container li {
    height: 70px;
    text-decoration: none;
    
}

.mobile-menu-container li a {
    text-decoration: none;
    font-size: 25px;
    color: rgba(0,0,0,0.8);
    transition: 0.2s ease-in-out;
    
}

.mobile-menu-container li a:hover {
    text-decoration: none;
    font-size: 25px;
    color: rgba(255,0,0,0.7);
    transform: scale(1.03);
    
}

.mobile-close {
    display: none;
    cursor: pointer;
}

.mobile-button {
    display: none;
    cursor: pointer;
}

.mobile-nav-menu {
    display: none;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.upper-container {
    height: 60px;
    background-color: rgb(235, 57, 57);
    width: 100%;
    display: grid;
    grid-template-columns: 13vw 1fr 2fr 1fr 13vw;
    position: fixed;
    z-index: 100;
    top: 0;
    
}
.lower-container {
    height: 110px;
    background-color: rgb(88, 88, 88);
    width: 100%;
    display: grid;
    grid-template-columns: 13vw 1fr 3fr 13vw;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    z-index: 100;
    top: 55px;
}

.navbar-logo-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.navbar-logo-text {
    text-decoration: none;
    color: rgba(46, 46, 46, 0.9);
    font-size: 30px;

}

.navbar-logo-text:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.5);
}

.signup-container {
    grid-column: 4/5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.signup-button {
    width: 75px;
    height: 33px;
    background-color: rgb(59, 58, 58);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
    color: rgba(226, 226, 226, 0.9);
}

.signup-button:hover {
    background-color: rgb(88, 87, 87);
    cursor: pointer;
}

.lower-text-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    grid-row: 1/3;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

.lower-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-width: 250px;
    color: rgba(226, 226, 226, 0.9);
}

.search-bar-container {
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0;
}

.search-bar {
    height: 40px;
    border-radius: 3px;
    width: 100%;
}

.shopping-cart-wrapper {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}

.mycart-title {
    color: rgba(226, 226, 226, 0.9);
}

.mycart-title:hover {
    color: rgba(226, 226, 226, 0.6);
}

.mycart-link {
    text-decoration: none;
}

.shopping-cart-logo {
    height: 30px;
}

.shopping-cart-logo:hover {
    cursor: pointer;
}

.menu-item-wrapper {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(226, 226, 226, 0.9);
    text-align: center;
    cursor: pointer;
}

.menu-item:hover {
    color: rgba(226, 226, 226, 0.6);
}

.menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* SignUp Page */

.login-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 200px 1fr;
    background-color: #f0f0f0;
}

.login-container {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 25vw 1fr 25vw;
    align-content: center;
    justify-items: center;
    background-color: #f0f0f0;
}

@media screen and (max-width: 1000px) {
    .login-container.tablet {
        grid-template-columns: 10vw 1fr 10vw;
    }

}

@media screen and (max-width: 600px) {
    .login-form.mobile {
        width: 100%;
    }
}



.login-form {
    height: 550px;
    width: 430px;
    background-color: gray;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    border-radius: 6px;
    grid-column: 2/3;
}

.login-input-text {
    margin-bottom: 10px;
    font-size: 14px;
    width: 70%;
    color: rgba(255,255,255,0.8);
}

.input-par {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-par-two {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input {
    border-radius: 4px;
    height: 35px;
    width: 70%;
}

.form-button-container {
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-button-container-two {
    grid-row: 5/6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.form-button {
    width: 200px;
    height: 45px;
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color:rgba(0,0,0,0.7);
    cursor: pointer;
}

.form-button:hover {
    background-color: rgba(255,255,255,0.6);
}

.form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-header-text {
    font-size: 34px;
    color: rgba(255,255,255,0.88);


}

/* Home Page */

.hero-wrapper {
    height: 1900px;
    width: 100%;
    display: grid;
    grid-template-rows: 170px 1fr;
    background-color: #f0f0f0;

}

.hero-main-container {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 13vw 1fr 13vw;
    grid-template-rows: 10px 100px 70px 500px 200px 70px 500px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 1300px) {

    .hero-main-container.tablet {
        grid-template-rows: 10px 100px 70px 850px 200px 70px 700px;
        grid-template-columns: 6vw 1fr 6vw;
    }

    .hot-deals.tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .covid-essential-items.tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hero-wrapper.tablet {
        height: 2450px;
    }
}

@media screen and (max-width: 670px) {
    .hero-wrapper.tablet.mobile {
        height: 4350px;
    }

    .hero-main-container.tablet.mobile {
        grid-template-rows: 10px 200px 70px 1800px 110px 70px 1800px;
        grid-template-columns: 6vw 1fr 6vw;
    }

    .hot-deals.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .covid-essential-items.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .product-item-container.mobile {
        width: 100%;
    }

    .promocode-amount.mobile {
        height: 60px;
        font-size: 20px;
        width: 50%;

    }

    .promocode-firstorder.mobile {
        font-size: 14px;
    }

    .promocode.mobile {
        font-size: 13px;
        height: 50px;
    }

    .promocode-banner.mobile {
        padding: 7px;
        grid-column-gap: 7px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: 170px;
        grid-column: 2/3;
        justify-items: center;
    }

    .covid-banner.mobile {
        font-size: 10px;
        line-height: 28px;
        width: 100%;
        grid-column: 2/3;
        height: 100px;
    }


    .covid-mask.mobile {
        width: 0;
    }

    .footer-main-container.mobile {
        grid-column-gap: 20px;
        grid-template-columns: 3vw 1fr 1fr 1fr 3vw;
        height: 100%;
        
    }

    .delivery-title.mobile {
        font-size: 17px;
    }

    .delivery-text.mobile {
        font-size: 12px;
    }

    .footer-offer-title.mobile {
        font-size: 17px;
    }

    .footer-offer-text.mobile {
        font-size: 12px;
    }

    .social-media-title.mobile {
        font-size: 17px;
    }

    .social-media-text.mobile {
        font-size: 12px;
    }
}

.promocode-banner {
    grid-row: 2/3;
    background-color: rgba(255,0,0,0.8);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 10px 30px;
}

.promocode-amount {
    text-align: center;
    color: rgba(255,255,255,0.9);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(31, 14, 14, 0.7);
    padding: 5px;
}

.promocode-firstorder {
    text-align: center;
    color: rgba(255,255,255,0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.promocode {
    text-align: center;
    color: rgba(255,0,0,0.8);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgba(255,255,255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hot-deals {
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

}

.hot-deals-title {
    grid-column: 2/3;
    grid-row: 3/4;
}

.covid-banner {
    grid-row: 5/6;
    grid-column: 2/3;
    background-color: rgba(255,0,0,0.8);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


.covid-warning {
    text-align: center;
    color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hot-deals-title {
    font-size: 30px;
}

.covid-essential-items {
    grid-row: 7/8;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.covid-essentials-title {
    grid-row: 6/7;
    grid-column: 2/3;
}

.covid-mask {
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 35px;
}


/* create account */

.create-acc-wrapper {
    height: 1000px;
    width: 100%;
    display: grid;
    grid-template-rows: 170px 1fr;
    background-color: #f0f0f0;
}

.personal-information {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    align-content: center;
    justify-items: center;
    background-color: #f0f0f0;
    
}

@media screen and (max-width: 1250px) {
    .personal-information.tablet {
        grid-template-columns: 10vw 1fr 10vw;
    }
}

@media screen and (max-width: 650px) {
    .personal-information.tablet {
        grid-template-columns: 4vw 1fr 4vw;
    }

    .input-container.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-radius: 10px;
    }

    .last-name-container.mobile {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .email-container.mobile {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .first-name-container.mobile {
        grid-column: 1/3;
    }

    .postal-code-container.mobile {
        grid-row: 4/5;
    }
    
    .password-container.mobile {
        grid-row: 5/6;
        grid-column: 1/3;
    }

    .confirm-password-container.mobile {
        grid-row: 6/7;
        grid-column: 1/3;
    }

    .form-submit.mobile {
        width: 100%;
        margin: 0 30px;
    }
}

.personal-information form {
    height: 700px;
    width: 100%;
    grid-column: 2/3;
    background-color: rgba(117, 117, 117, 0.514);
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    border-radius: 10px;
}

.form-header {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
}

.input-container {
    background-color: rgba(255,255,255,0.7);
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 10px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
}

.input-name {
    height: 40px;
    width: 100%;
}

.first-name-container {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.last-name-container {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.postal-code-container {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.input-postal {
    height: 40px;
    width: 50%;
}

.email-container {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.password-container {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.confirm-password-container {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-submit {
    height: 50px;
    width: 400px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    font-size: 22px;
    color: rgba(0,0,0,0.7);
}


/* shopping cart */

.mycart-wrapper {
    display: grid;
    grid-template-rows: 220px 1fr;
    grid-template-columns: 20vw 1fr 20vw;
    height: calc(100vh - 170px);
    background-color: rgba(230, 224, 224, 0.8);
}

@media screen and (max-width: 1250px) {
    .mycart-wrapper.tablet {
        grid-template-columns: 8vw 1fr 8vw;
    }
}

@media screen and (max-width: 700px) {
    .mycart-wrapper.mobile {
        grid-template-columns: 7vw 1fr 7vw;
        height: 1100px;
        align-content: center;
    }

    .mycart-right.mobile {
        grid-row: 2/3;
        grid-template-rows: 50px 180px 70px 40px;
    }

    .mycart-main-container.mobile {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
}

.mycart-main-container {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 80px;
}

.mycart-left {
    display: grid;
    grid-template-rows: 70px 70px 300px;
}

.mycart-left h1 {
    font-size: 35px;
}

.mycart-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: scroll;
    background-color: rgba(248, 248, 248, 0.74);
    border: 1px solid black;
}

.mycart-right {
    display: grid;
    grid-template-rows: 100px 200px 100px 40px;
    grid-template-columns: 1fr 1fr;
}

.payment-container {
    grid-row: 2/3;
    grid-column: 1/2;
    border-top: 1px solid black;
    padding-top: 38px;
    border-bottom: 1px solid black;
}

.payment-container p {
    margin-bottom: 15px;
}

.payment-amount {
    grid-row: 2/3;
    grid-column: 2/3;
    border-top: 1px solid black;
    padding-top: 38px;
    border-bottom: 1px solid black;
}

.payment-amount p {
    margin-bottom: 15px;
    text-align: right;
}

.payment-total {
    grid-row: 3/4;
}

.mycart-right p {
    grid-row: 3/4;
    grid-column: 2/3;
}

.mycart-right h3 {
    grid-row: 3/4;
    grid-column: 1/2;
    padding-top: 30px;
}

.mycart-item-container {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 100%;
    padding: 0 30px;
    grid-row-gap: 10px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 20px;
}

#mycart-control {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 40px;
}

#mycart-control button {
    max-width: 45px;
}
#mycart-control p {
    font-size: 20px;
    margin-right: 30px;
}

.mycart-item-price {
    font-size: 20px;
}

#mycart-controltwo p {
    font-size: 20px;
    margin-right: 30px;
}

#mycart-controltwo button {
    max-width: 45px;
}

#mycart-controltwo {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 40px;
}

#mycart-controlthree {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 40px;
}

.mycart-item-price {
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.mycart-item-image {
    height: 100px;
    grid-row: 2/3;
}

.total-amount {
    padding-top: 30px;
    text-align: right;
}

.checkout-button {
    grid-row: 4/5;
    grid-column: 1/3;
    cursor: pointer;
    background-color: black;
    color: rgba(255,255,255,0.8);
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}

.checkout-button:hover {
    background-color: rgba(0,0,0,0.7);
}

/* Aisles */

.aisles-wrapper {
    display: grid;
    grid-template-rows: 40px 1fr;
    height: 100vh;
    background-color: #f0f0f0;
}

.aisles-container {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 17vw 1fr 17vw;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    height: 70px;
    margin-top: 30px;
    grid-row-gap: 80px;
    height: 90%;
    background-color: #f0f0f0;
}

.aisles-header {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    height: 65px;
    color: rgba(0,0,0,0.8);
    background-color: rgba(0,0,0,0.1);
}

.aisles-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-decoration: none; 
    color:rgba(0,0,0,0.8);
    border: 1px solid black;
    background-color: white;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    padding-bottom: 15px;
    width: 100%;
    cursor: pointer;
}

.aisles-item:hover {
    transform: scale(1.05);
    border: 1px solid rgba(255,0,0,0.5);
}

.aisles-item-container {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    justify-items: center;
    padding-bottom: 60px;
    grid-row-gap: 30px;

}

@media screen and (max-width: 1000px) {
    .aisles-item-container.tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }

    .aisles-container.tablet {
        grid-template-columns: 10vw 1fr 10vw;
        grid-column-gap: 0px;
    }
}

@media screen and (max-width: 600px) {
    .aisles-item-container.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 40px;
    }

    .aisles-container.mobile {
        grid-template-columns: 8vw 1fr 8vw;
    }

    .aisles-item.mobile {
        width: 100%;
    }
}

.aisles-item-image {
    width: 200px;
    height: 160px;

}


.aisles-item-text {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}


/* Generic styling for all aisle pages */


.category-wrapper {
    height: 1400px;
    display: grid;
    grid-template-rows: 170px 1fr;
    background-color: #f0f0f0;
}

.category-container {
    padding-top: 40px;
    grid-row: 2/3;
    height: 100%;
    display: grid;
    grid-template-rows: 0.6fr 6fr 0.3fr;
    grid-template-columns: 13vw 1fr 13vw;
    background-color: #f0f0f0;

}

.category-header {
    height: 65px;
    grid-column: 1/4;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

@media screen and (max-width: 1180px) {
    .product-container.tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .product-container.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .category-container.mobile {
        grid-template-rows: 80px 6fr 0.3fr;
        height: 2500px;
        padding-top: 0;
    }

    .category-container.special {
        height: 1900px;
    }

    .product-container.special {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        max-height: 2000px;
    }

    .category-container.specialtwo {
        height: 2150px;
    }

    .category-container.specialthree {
        height: 2050px;
    }
    
    .category-wrapper.mobile {
        height: 1400px;
        display: grid;
        grid-template-rows: 110px 1fr;
        background-color: #f0f0f0;
    }

    .product-container.specialthree {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        max-height: 2000px;
    }

    .product-item-container.mobile {
        max-height: 380px;
    }

}

.product-container {
    grid-row-gap: 30px;
    grid-column: 2/3;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    grid-column-gap: 40px;

    
}

.product-title {
    border-bottom: 1px solid rgba(0,0,0,0.4);
    padding-left: 20px;
    font-size: 23px;
}

.product-item-container {
    display: grid;
    grid-template-rows: 1fr 0.2fr 0.3fr 0.3fr;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: rgba(0,0,0);
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.product-item-container:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}


.product-image {
    width: 200px;
    justify-self: center;
}

#banana {
    height: 70%;
    margin-top: 35px;
    max-height: 150px;
}



.pricing-container {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    
}

.pricing-container-text {
    padding-left: 20px;
    font-size: 13px;
}

.bold {
    font-size: 17px;
}

.aisle-cart-image {
    width: 50px;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
}

.aisle-cart-image:hover {
    background-color: rgba(0,0,0,0.4);
}

/* generic product styling */

.generic-product-wrapper {
    display: grid;
    grid-template-rows: 170px 1fr;
    background-color: #f0f0f0;
    height: 100vh;
}

.generic-product-container {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 20vw 1fr 1fr 13vw;
    justify-items: start;
    align-items: center;
    text-align: start;
    height: 700px;
    grid-column-gap: 50px;
    padding-top: 50px;
    background-color: #f0f0f0;
    
}

@media screen and (max-width: 1230px) {
    .generic-product-container.tablet {
        grid-template-columns: 7vw 1fr 1fr 7vw;
        
    }
}


@media screen and (max-width: 921px) {
    .generic-product-container.tablet {
        grid-template-columns: 7vw 1fr 7vw;
        grid-template-rows: 1fr 1fr;
        height: 900px;
    }

    .generic-product-right-container.tablet {
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        padding-bottom: 50px;
        padding-bottom: 0;
        grid-template-rows: 80px 100px 100px 100px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        height: 100%;
    }

    .generic-product-title-container.tablet {
        grid-column: 1/2;
        padding-left: 20px;
    }

    .generic-product-pricing-container.tablet {
        grid-column: 1/2;
    }

    .generic-product-quantity-container.tablet {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .generic-product-description-container.tablet {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .generic-product-accordion.tablet {
        grid-column: 1/4;
    }

    .generic-product-image-container.tablet {
        width: 400px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {

    .generic-product-final-price.mobile {
        padding-left: 20px;
    }

    .generic-product-container.mobile {
        grid-template-columns: 5vw 1fr 5vw;
        grid-column-gap: 0;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100vh; 
        padding-top: 0;
    }

    .generic-product-right-container.mobile {}
    

    .generic-product-quantity-container.tablet.mobile {
        grid-row: 3/4;
        grid-column: 1/3;

    }

    .generic-product-description-container.mobile {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .generic-product-image.mobile {
        width: 100%;
        height: 250px;
    }
    
    .generic-product-image-container.mobile {
        width: 100%;
        margin-top: 10px;
        padding-bottom: 0;
    }

    .generic-product-wrapper.mobile {
        grid-template-rows: 60px 1fr;
        height: 800px;
        background-color: #f0f0f0;
    }
}


.generic-product-image-container {
    grid-column: 2/3;
    grid-row: 1/2;
    grid-row-gap: 15px;
    width: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    height: 400px;
    padding-bottom: 70px;
}

.generic-product-right-container {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 80px 100px 100px 50px 100px;
    padding-bottom: 70px;

}

.final-price-container {
    grid-row: 4/5;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
}

.generic-product-final-price {
    color: rgba(0,0,0,0.8);
    font-size: 25px;
}

 .generic-product-accordion {
    background-color: rgb(0, 0, 0);
    color: rgb(231, 231, 231);
    cursor: pointer;
    padding: 18px;
    width: 200px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .active, .generic-product-accordion:hover {
    background-color: rgba(0,0,0,0.5);
  }
  
  .generic-product-panel {
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    color:rgb(29, 29, 29);
    overflow: hidden;
    width: 200px;
    font-size: 13px;
    border-radius: 10px;
    transition: max-height 0.2s ease-out;
  }

.generic-product-input {
    width: 100%;
    height: 40px;
}

.final-price-container {
    height: 100%;
}

.generic-product-size {
    width: 100%;
    height: 40px;   
}

.generic-product-image {
    width: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    max-height: 400px;
    max-width: 400px;
}

.generic-product-title-container {
    grid-column: 3/4;
    grid-row: 1/2;
    
}

.generic-product-pricing-container {
    grid-column: 3/4;
    grid-row: 2/3;
}

.generic-product-quantity-container {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
}

.quantity-button {
    background-color: rgba(0,0,0,0.9);
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    margin: 10px;    
}

.quantity-button:hover {
    background-color: rgba(0,0,0,0.5);
}

.quantity-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,0.3);
    border-radius: 100%;
    margin: 10px;
    background-color: rgba(255,255,255,0.8);

}

@media screen and (max-width: 500px) {

}


.generic-product-button-container {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 200px;
    height: 35px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
    color: rgba(255,255,255,0.8);
    display: flex;
    transition: 0.4s;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.generic-product-button-container:hover {
    background-color: rgba(0,0,0,0.5);
}

.generic-product-button-image {
    width: 30px;
    margin-right: 5px;
}

.generic-product-button-text {
    margin-left: 5px;
}

.generic-product-description-container {
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: #f0f0f0;
}


.generic-product-description-title {
    padding-bottom: 10px;
}

.generic-product-description-text {
    padding-top: 10px;
}



/* footer */

.footer-main-container {
    height: 170px;
    background-color: rgba(255,0,0,0.8);
    display: grid;
    grid-template-columns: 13vw 1fr 1fr 1fr 13vw;
}

.footer-delivery {
    grid-column: 2/3;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery-title {
   font-size: 22px;
   width: 100%;
}

.delivery-text {
    margin-top: 10px;
    width: 100%;
}

.footer-offer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-offer-title {
    font-size: 22px;
    width: 100%;
}

.footer-offer-text {
    margin-top: 10px;
    width: 100%;
}

.footer-social-media {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media-title {
    font-size: 22px;
    width: 100%;
}

.social-media-text {
    margin-top: 10px;
    width: 100%;
}
